<table class="list issues sort-by-id sort-desc">

  <thead>
    <tr>
      <th>Tenant</th>
      <th>Domain</th>
      <th>Metric</th>
      <th>Value</th>
      <th>Verify</th>
    </tr>
  </thead>
  <tbody>
  <% @test_results.each do |result| %>
    <tr>

      <td><%= result.node.tenant.tenant_name %></td>
      <td><%= result.metric.domain.domain_name %></td>
      <td class="name"><%= result.metric.metric_name %></td>
      <td class="subject"><%= result.value %></td>
      <td><%= result.verify %></td>

    </tr>
  <% end %>
  </tbody>
</table>
