<h2>DeviceInventoryController#index</h2>

<table class="list issues sort-by-id sort-desc">

  <tbody>
  <% @devices.each do |device| %>
    <tr>

      <td><%= inventory.node.tenant.tenant_name %></td>
      <td><%= inventory.metric.domain.domain_name %></td>
      <td class="name"><%= inventory.metric.metric_name %></td>
      <td class="subject"><%= inventory.value %></td>
      <td><%= inventory.verify %></td>

    </tr>
  <% end %>
  </tbody>
</table>
